.margin-tp
{
    margin-top: 8em;
    margin-bottom: 2em
}
/* color of register button text */
a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
}

/* *, ::after, ::before {
} */

.help-block
{
    color: red
}
.btn-back
{
    background-color:rgb(36, 30, 30) ;
    
}

/* card background */
.card-back
{
    background-color: rgb(22, 22, 22);
    color: white;
}