<section class="section pt-4" id="team">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2">
              <h1 class="section-title text-center">Meet Les</h1>
              <div class="section-title-border margin-t-20"></div>
              <p class="section-subtitle text-muted text-center font-secondary padding-t-30">Les Vegas Picks.</p>
          </div>
      </div>

<!---
      <div class="row margin-t-50">
      -->
              <div class="team-box text-center hover-effect">
                  <div class="team-wrapper">
                      <div class="team-member">
                          <img alt="" src="assets/images/team/img-1.jpg" class="img-fluid rounded">
                      </div>
                  </div>
                  <h4 class="team-name">Les Robinson</h4>
                  <p class="text-uppercase team-designation">CEO</p>
                  <p>Meet Les Robinson (aka Les Vegas).  Les is a lifelong sports fan originally from the Windy City of Chicago, Illinois, and he now resides in Las Vegas, Nevada.  He has a proven track record in the restaurant and hospitality industries owning and operating a number of successful food venues in Chicago and Las Vegas.  Over the years, Les has honed his skills as a sports gambling enthusiast and wants to now share his learnings with you.  
                    </p>

      
<!--
          <div class="col-lg-3 col-sm-6">
              <div class="team-box text-center hover-effect">
                  <div class="team-wrapper">
                      <div class="team-member">
                          <img alt="" src="assets/images/team/img-3.jpg" class="img-fluid rounded">
                      </div>
                  </div>
                  <h4 class="team-name">Wanda Arthur</h4>
                  <p class="text-uppercase team-designation">Developer</p>
              </div>
          </div>

          <div class="col-lg-3 col-sm-6">
              <div class="team-box text-center hover-effect">
                  <div class="team-wrapper">
                      <div class="team-member">
                          <img alt="" src="assets/images/team/img-4.jpg" class="img-fluid rounded">
                      </div>
                  </div>
                  <h4 class="team-name">Joshua Stemple</h4>
                  <p class="text-uppercase team-designation">Manager</p>
              </div>
          </div>
        -->
      </div>
  </div>
</section>