<section class="section section-lg bg-web-desc">
  <div class="bg-overlay"></div>
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="text-white">Content</h2>
              <p class="padding-t-15 home-desc">Content</p>
              <a href="#" class="btn btn-bg-white margin-t-30 waves-effect waves-light mb-5">Content</a>
          </div>
      </div>
  </div>
  <div class="bg-pattern-effect">
      <img src="assets/images/bg-pattern.png" alt="">
  </div>
</section>