
<div class="displayTable">

<div class="a">
    <div class="row margin-tp">


  <div class="alert alert-info" role="alert" *ngFor="let course of courses">
      <div class="p-2">

        <a href="{{ course.fields.url }}" target="_blank"><img src="{{ course.fields.courseImage.fields.file.url }}" class="rounded" width="196" /></a>
      </div>
      <div class="p-2">
        <h5 class="alert-heading"><a href="{{ course.fields.url }}" target="_blank">{{ course.fields.title }}</a></h5>
        <p><i>{{ course.fields.author }}</i></p>
        <div [innerHTML]="course.fields.description | mdToHtml"></div>
        <a href="{{ course.fields.url }}" target="_blank" class="btn btn-success">Go To My Picks</a>
      </div>
    </div>
  </div>
  </div>
  </div>