.margin-tp
{
    margin-top: 8em;
    margin-bottom: 2em
}
/* color of register button text */
a:not([href]):not([tabindex]) {
    color: rgb(148, 112, 112);
    text-decoration: none;
}

/* *, ::after, ::before {
} */

.help-block
{
    color: red
}
.btn-back
{
    background-color:rgba(26, 25, 25, 0) ;
    
}

/* card background */
.card-back
{
    background-color: rgb(10, 10, 10);
    color: white;
}

.btn-google
{
    background-color: rgb(41, 38, 207);

}

.google-button
{
    cursor: pointer;
}